env/
moc_worker.cpp
moc_mainwindow.cpp
ui_mainwindow.h
*.json
*.txt
*.png
*.zip

# User-specific files
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio 2015/2017 cache/options directory
.vs/