env/
moc_worker.cpp
moc_mainwindow.cpp
ui_mainwindow.h
credentials.json
tokens.json
screen.png
webcam.png
keylogger.txt
received_screen.png
received_webcam.png
received_keylogger.txt

# User-specific files
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio 2015/2017 cache/options directory
.vs/